* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(193, 132, 250);

  
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);


  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;

  background-color: rgb(236, 204, 204);
  border:0.1rem solid #e6b8b8;
               

}

h1 {
  font-size: 2.5rem;
  
}

a {
  text-decoration: none;
  font-size: 1.4rem;
   margin: 0 1rem;
}



.bar {
  font-size: 2.4rem;
  background: none;
  margin-right: 1.2rem;
  padding: 0;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 12rem) and (max-width: 76.8rem) {
 
  
  .media, .socials {
  height: 0;
  overflow: hidden;
  transition: all 0.3s;

}

.display-media, .display-socials {
    height: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 3rem;
}
  
}

@media screen and (min-width: 76.8rem) and (max-width: 120rem) {
  .bar {
    display: none;
  }

  .socials a {
  margin: 0 0.3rem;
}
.socials {
  margin-right: 1rem;
}

.media a {
  margin: 0 3rem;
}
}